@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);


.container-fluid {
  width: 100% !important;
  padding: 0 !important;
}
.row {
  width: 100% !important;
  padding: 0 !important;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
.header_img {
  width: 100%;
}
#about_container {
  background-color: #FFFFFF;
}
#about {
  font-family: 'Bitter';
  font-weight: 700;
  font-size: 2em;
  margin-left: 20%;
  margin-right: 25%;
  text-align:justify;
}
#about_a {
  font-size: 1.5em;
}
#about_para {
  font-family: 'Bitter';
  font-weight: 400;
  font-size: .75em;

}

#project_container {
  background-color: #DCDCDC;
}

#project_about {
  font-family: 'Bitter';
  font-weight: 700;
  font-size: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#project_p{
  font-size: 1.5em;
}

#project_para {
  font-family: 'Bitter';
  font-weight: 400;
  font-size: .7em;
}

#proj_container_top {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 2%;


}
#proj_1 {
  height: 200px;
  width: 275px;

}
#proj_2 {
  height: 200px;
  width: 275px;
}
#proj_3 {
  height: 200px;
  width: 275px;
}
#proj_container_bot {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 2%;

}
#proj_4 {
  height: 200px;
  width: 275px;

}
#proj_5 {
  height: 200px;
  width: 275px;
}
#proj_6 {
  height: 200px;
  width: 275px;
}

.proj_description {
  font-family: 'bitter';
  font-weight: 700;
  font-size: 1em;
  text-align: justify;
}

.proj_description_coming_soon {
  font-family: 'bitter';
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
}

#footer {
  background-color: #8F8E8E;
  min-height: 75px;
}

.icon_container {
  text-align: center;
  margin-top: 2%;
  font-size: 300%;
}
